<mat-tab-group>
  <mat-tab label="Dados gerais">
    <p><strong>_id:</strong> {{ data.client._id }}</p>
    <p><strong>Imagem:</strong> {{ data.client.image_src }}</p>
    <p><strong>Nome:</strong> {{ data.client.name }}</p>
    <p><strong>Total de Empreendimentos:</strong> {{ data.client.totalEnterprises }}</p>
    <p><strong>Total de Imóveis/Unidades:</strong> {{ data.client.totalRealties }}</p>
  </mat-tab>
  <mat-tab label="Dados especificos">
    <p><strong>_id:</strong> {{ data.client._id }}</p>
    <p><strong>Imagem:</strong> {{ data.client.image_src }}</p>
    <p><strong>Nome:</strong> {{ data.client.name }}</p>
    <p><strong>Total de Imóveis/Unidades:</strong> {{ data.client.totalRealties }}</p>
  </mat-tab>
</mat-tab-group>
