<div class="totals-section">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-content>
          <p>
            <strong>Total de Clientes:</strong> {{ enterprisesTotal.totalClientes }}
          </p>
          <p>
            <strong>Total de Empreendimentos:</strong> {{ enterprisesTotal.totalEmpreendimentos }}
          </p>
          <p>
            <strong>Total de Imóveis/Unidades:</strong> {{ enterprisesTotal.totalImoveis }}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
